@import "../../../styles.scss";
.explorar {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  padding: 0 20px;
  gap: 20px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  &-filtros {
    display: flex;
    flex-direction: column;
    // background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    // box-shadow: $sombra;
    @media (max-width: 1024px) {
      padding: 10px ;
    }
    gap: 20px;
    &-titulo {
      display: flex;
      justify-content: start;
      align-items: center;
      h2 {
        font-size: 30px;
        font-weight: 700;
        font-family: $montserrat;
        letter-spacing: -1px;
      }
    }
    .buscador {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 10px;
      background-color: #fff;
      padding: 5px;
      // border: solid 1px #686868;
      border-radius: 5px;
      box-shadow: $sombra;
      input {
        border: none;
        outline: none;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 500;
        background-color: transparent;
      }
      i {
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $azul;
      }
    }
    .filtro {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: #fff;
      border-radius: 5px;
      padding: 10px;
      box-shadow: $sombra;
      &-titulo {
        display: flex;
        justify-content: start;
        align-items: center;
        h5 {
          font-size: 16px;
          font-family: $montserrat;
        }
      }
      &-contcategoria {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .categorias {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 5px;
          .categoria {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 5px;
            transition: all 0.5s ease-in-out;
            span {
              font-size: 16px;
              font-family: $montserrat;
              color: #686868;
              font-weight: 600;
            }
            input {
              cursor: pointer;
            }
          }
        }
        .mostrarMasContainer {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &-contordenar {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
      }
      &-contubicacion {
        display: flex;
        flex-direction: column;
        gap: 5px;
        label {
          font-size: 15px;
          font-family: $montserrat;
          font-weight: 600;
        }
        select {
          text-align: center;
          font-size: 15px;
          font-family: $montserrat;
          font-weight: 600;
          background-color: #fff;
          padding: 5px 0;
          border: solid 1px #000;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
  &-planes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    padding: 0 10px;
    gap: 5px;
    .listado {
      display: grid;
      // grid-template-columns: repeat(4, 1fr);
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      gap: 15px;
      height: 100%;
      box-sizing: border-box;
      @media (max-width: 1024px) {
        grid-template-rows: auto 1fr;
      }
      .noplansmessagecontainer {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 5px;
        grid-column: 2 / span 2;
        @media (max-width: 1024px) { 
          grid-column: 1 / span 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          font-family: $montserrat;
          color: #686868;
        }
        i {
          font-size: 20px;
          color: $azul;
        }
      }
    }
    .pag {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
