@import "../../../styles.scss";
.planDetalle {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  padding: 10px 50px;
  gap: 25px;
  height: 100%;
  box-sizing: border-box;
  grid-template-areas: "col1 col2";
  // border: solid red;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px 20px;
    grid-template-areas:
      "col2"
      "col1";
  }
  &-fotoComments {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-area: col1;
    .fotos {
      display: grid;
      grid-template-columns: 1fr 4fr;
      gap: 10px;
      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }
      img {
        border-radius: 10px;
        box-shadow: $sombra;
      }
      &-seleccionar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: scroll;
        max-height: 500px;
        @media (max-width: 1024px) {
          flex-direction: row;
        }
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
          @media (max-width: 1024px) {
            max-height: 50px;
            width: 80px;
          }
        }
      }

      &-principal {
        display: flex;
        justify-content: center;
        align-items: start;
        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          @media (max-width: 1024px) {
            max-height: 250px;
          }
        }
      }
    }
    .comentarios {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr;
      gap: 10px;
      .commentdisable {
        @media (max-width: 1024px) {
          display: none;
        }
      }
      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }
      .comentar {
        display: flex;
        flex-direction: column;
        gap: 10px;

        textarea {
          font-size: 15px;
          font-weight: 500;
          padding: 10px;
          border: 2px solid #ccc;
          border-radius: 5px;
          outline: none;
          transition: border-color 0.3s ease, box-shadow 0.3s ease;
          resize: none;
          height: 50px;
          background-color: #ffffff;
          color: #333;
          font-family: $montserrat;
        }

        textarea:focus {
          border-color: #007bff;
          box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
          background-color: #fff;
        }

        textarea:disabled {
          background-color: #e9ecef;
          border-color: #dee2e6;
          color: #6c757d;
          cursor: not-allowed;
        }

        textarea:hover {
          border-color: #b3b3b3;
        }

        textarea::placeholder {
          color: #888;
          opacity: 1;
        }

        article {
          display: flex;
          justify-content: end;
          align-items: center;
        }
      }
      .comments {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 50px;
        // border: solid red;
      }
      .lista {
        display: flex;
        // position: relative;
        // overflow-y: scroll;
        box-sizing: border-box;
        height: 100%;
        // border: solid red;
        &-scroll {
          // position: absolute;
          display: flex;
          flex-direction: column;
          gap: 7px;
          width: 100%;
          box-sizing: border-box;
          height: 100%;
          // border: solid red;
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $montserrat;
            font-weight: 500;
            font-size: 18px;
            color: #818181;
            height: 50%;
            // border: solid red;
          }
        }
      }
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
    grid-area: col2;
    &-titulo {
      display: flex;
      h2 {
        font-size: 33px;
        font-weight: 800;
        font-family: $montserrat;
        letter-spacing: -0.5px;
      }
    }
    &-location {
      display: flex;
      padding: 0 5px;
      article {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        i {
          font-size: 16px;
          color: $azul;
        }
        span {
          font-size: 18px;
          font-family: $montserrat;
          font-weight: 600;
          letter-spacing: -0.5px;
        }
      }
    }
    &-descripcion {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 20px;
      padding: 15px 5px;
      .username {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
        a {
          font-size: 20px;
          font-weight: 700;
          font-family: $montserrat;
          color: $azul;
          text-decoration: none;
          letter-spacing: -0.5px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .desc {
        display: flex;
        justify-content: start;
        align-items: center;
        p {
          font-family: $montserrat;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: -0.5px;
        }
      }
      .fechalikes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .likes {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .likediv {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px;
            border-radius: 10px;
            transition: ease-in-out 0.3s;
            &:hover {
              background-color: #e9e8e8;
            }
            img {
              width: 22.5px;
              cursor: pointer;
            }
          }

          span {
            font-size: 19px;
            font-family: $montserrat;
            font-weight: 600;
            color: rgb(207, 0, 0);
          }
        }
        .fecha {
          display: flex;
          justify-content: end;
          align-items: center;
          gap: 5px;
          i {
            font-size: 16px;
            color: $azul;
          }
          span {
            font-weight: 600;
            font-size: 17px;
            font-family: $montserrat;
            color: $azul;
          }
        }
      }
    }
    &-googlemaps {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 5px;
      i {
        color: $azul;
        font-size: 18px;
        @media (max-width: 1024px) {
          font-size: 15px;
        }
      }
      a {
        text-decoration: none;
        font-family: $montserrat;
        font-size: 18px;
        color: $azul;
        font-weight: 500;
        text-align: center;
        @media (max-width: 1024px) {
          font-size: 15px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.skeleton {
  background: #ddd;
  animation: pulse 1.5s infinite;
}

.skeleton-main {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  @media (max-width: 1024px) {
    max-height: 250px;
  }
}

.skeleton-secondary {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  @media (max-width: 1024px) {
    height: 25px;
    width: 80px;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.planDetalleSkeleton {
  height: 100%;
}
.skeletonPlanName {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.skeletonText {
  height: 20px;
  width: 50%;
  border-radius: 5px;
}

.skeletonUserImg{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.skeletonDesc {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.blue {
  background-color: rgba($azul, 0.5);
}
