@import "../../../styles.scss";

.toast-notification {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: transform 0.5s ease-out, opacity 1s ease-out;
  padding: 7px 10px;
  border-radius: 5px;
  span {
    letter-spacing: -0.5px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 2px;

    i {
      font-size: 16px;
    }
  }
  .message {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    .errorContainer {
      font-size: 17px;
      text-transform: capitalize;
      font-weight: 600;
    }
    .messageContainer {
      font-size: 15px;
    }
  }

  .close {
    display: flex;
    justify-content: end;
    align-items: start;
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  @media (max-width: 1024px) {
    right: 40px;
    padding: 15px;
  }
  i {
    @media (max-width: 1024px) {
      font-size: 16px;
      font-weight: 600;
    }
  }

  span {
    font-family: $montserrat;
    color: #fff;
    font-weight: 500;
    @media (max-width: 1024px) {
      font-size: 15px;
    }
  }
}

.toast-notification.error {
  background-color: rgba(187, 12, 0, 0.9);
  color: white;
}

.toast-notification.success {
  background-color: rgba(0, 151, 5, 0.9);
  color: white;
}

.toast-notification.info {
  background-color: rgba(0, 123, 255, 0.9);
  color: white;
}

.toast-notification.warning {
  background-color: rgba(197, 118, 0, 0.9);
  color: white;
}


.toast-notification.hide {
  //transform: translateY(100%);
  opacity: 0;
}
