@import "../../../styles.scss";
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 30px;
    // background-color: #f7f6f6;
    justify-content: center;
    align-items: center;
    
    &-logo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        img {
            width: 22px;
        }
        a {
            text-decoration: none;
        }
        h1 {
            font-family: $montserrat;
            font-size: 22px;
            color: #000;
            letter-spacing: -1px;
        
        }
    }
    &-buttons {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }
}