<div class="userComp">
    <div class="userComp-name" (click)="toggleDropdown()">
        <div class="nombreCompleto">
            <span>{{userData.username}}</span>
        </div>
        <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="dropdown" [ngClass]="{ 'show': dropdownOpen }">
        <ul>
            <li (click)="toggleDropdown()"><a rel="noopener noreferrer" [routerLink]="['/perfil', userData.username]">Mi
                    Perfil</a><i class="fa-solid fa-circle-user"></i></li>
            <li><a rel="noopener noreferrer" (click)="toggleDropdown()" routerLink="publicar-plan">Publicar</a><i
                    class="fa-solid fa-circle-plus"></i></li>
            <li><a rel="noopener noreferrer" (click)="toggleDropdown()" routerLink="favoritos">Favoritos</a><i
                    class="fa-solid fa-heart"></i></li>
            <li><a rel="noopener noreferrer" (click)="toggleDropdown()" (click)="logout()">Logout</a><i
                    class="fa-solid fa-right-from-bracket"></i></li>
            <!-- <i class="fa-solid fa-heart"></i> -->
        </ul>
    </div>
</div>