@import "../../../../styles.scss";

.userComp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-image: linear-gradient(to right, $azul, #0145da);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  min-width: 120px;

  &:hover {
    background-color: #0046d1;
  }

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 25px;
      border-radius: 50%;
    }
  }

  &-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 15px;

    .nombreCompleto {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;

      span {
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        letter-spacing: -0.5px;
      }
    }

    i {
      color: #fff;
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: $sombra;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease-in-out, opacity 0.3s ease-out;

  ul {
    list-style: none;
    padding: 10px;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      cursor: pointer;
      gap: 5px;
      border-radius: 5px;

      a {
        font-size: 15px;
        font-family: $montserrat;
        letter-spacing: -0.7px;
        font-weight: 600;
        text-decoration: none;
        color: #000;
        transition: color 0.3s ease;
      }

      i {
        font-size: 16px;
        color: $azul;
        transition: transform 0.3s ease;
      }

      &:hover {
        background-color: #eeeeee;
        i {
          transform: translateX(-3px);
        }
      }
    }
  }
}

.show {
  max-height: 600px;
  opacity: 1;
}
