<section class="comment">
    <article class="comment-username">
        <img [src]="comment.user.img" alt="user-img"><a rel="noopener noreferrer" [routerLink]="['/perfil', comment.user.username]">{{comment.user.username}}</a>
    </article>
    <article class="comment-text">
        <p>{{comment.comment}}</p>
        <article class="comment-text-fecha">
            <i class="fa-solid fa-clock"></i>
            <span>{{comment.created_at | dateFormat}}</span>
        </article>
    </article>
</section>