<div class="comment">
    <article class="comment-username">
        <img [src]="comment.user.img" alt="user-img">
        <a rel="noopener noreferrer" [routerLink]="['/perfil', comment.user.username]">{{comment.user.username}}</a>
        @if (creador) {
        <div class="comment-username-creador">
            <span>Creador</span>
            <img src="/assets/icons/star.svg" alt="star-icon">
        </div>
        }
    </article>
    <article class="comment-text">
        <p>{{comment.comment}}</p>
        <div class="commentActions">
            <article class="commentActions-buttons">
                <div class="commentActions-buttons-likes">
                    <span>{{ comment.likes_count || 0 }}</span>
                    <button class="commentLikeBtn">
                        <img [src]="likeImgBtn()" (click)="like($event)" alt="like-button">
                    </button>
                </div>
                <div class="commentActions-buttons-resp">
                    <button (click)="toggleInputReply()" class="replyBtn">Responder</button>
                </div>
                @if (sameuser) {
                <div class="commentActions-buttons-eliminarComent">
                    <button class="deleteCommentBtn" (click)="deleteComment($event)">Eliminar</button>
                </div>
                }
            </article>
            <article class="comment-text-fecha">
                <i class="fa-solid fa-clock"></i>
                <span>{{comment.created_at | dateFormat}}</span>
            </article>
        </div>
    </article>
    @if (inputReply()) {
    <form class="comment-inputreply" [formGroup]="replyForm" (ngSubmit)="submitReply(replyForm.value)">
        <textarea name="reply" placeholder="Escribe tu respuesta..." formControlName="reply" maxlength="200"></textarea>
        <button type="submit">
            <img src="/assets/icons/reply-icon.svg" alt="reply-icon">
        </button>
    </form>
    }


    @if (hasReplies()) {
    @for (reply of comment.replies; track reply.id) {
    <app-commentreply (deleteReplyFromArray)="handleDelete($event)" (responderRespuesta)="responderRespuesta($event)"
        [reply]="reply" [planUserId]="planUserId" [@replyAnimation] />
    }

    }

</div>