@import "../../../styles.scss";
.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &-username {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
      border-radius: 50%;
    }
    a {
      font-family: $montserrat;
      font-weight: 600;
      font-size: 17px;
      color: $azul;
      text-decoration: none;
      letter-spacing: -0.5px;
      &:hover {
        text-decoration: underline;
      }
    }
    &-creador {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      img {
        width: 15px;
        height: 15px;
      }
      span {
        font-family: $montserrat;
        font-weight: 500;
        font-size: 14px;
        color: #8d8d8d;
        text-decoration: none;
        letter-spacing: -0.5px;
      }
    }
  }
  &-text {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 5px;
    p {
      font-size: 16px;
      font-weight: 500;
      font-family: $montserrat;
      padding: 5px;
    }
    &-fecha {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 5px;
      i {
        font-size: 11px;
        color: $azul;
        padding: 2px;
      }
      span {
        font-family: $montserrat;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
  &-inputreply {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    padding: 10px;
    @media (max-width: 1024px) {
      padding: 5px;
    }
    textarea {
      font-size: 15px;
      font-weight: 500;
      padding: 10px;
      border: 1.5px solid #ccc;
      border-radius: 5px;
      outline: none;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      resize: none;
      height: 50px;
      background-color: #ffffff;
      color: #333;
      font-family: $montserrat;
      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #f0f0f0;
      img {
        width: 40px;
        height: 40px;
        @media (max-width: 1024px) {
          width: 30px;
          height: 30px;
        }
      }
      &:hover {
        transition: ease-in-out 0.3s;
        background-color: #e4e4e4;
      }
    }
  }
}

.commentActions {
  display: flex;
  justify-content: space-between;
  &-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    &-likes {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      span {
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 500;
        color: red;
      }
    }
    &-resp {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-eliminarComent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-eliminarComent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
