@import "../../../styles.scss";
.allEditar {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 400px;
  &-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    background-color: #fff;
    padding: 50px;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
    border: solid 2px #d1d1d1;
    gap: 40px;
    .input {
        display: flex;
        flex-direction: column;
        gap: 5px;
        box-sizing: border-box;
        label {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 5px;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: -0.5px;
            font-family: $montserrat;
            color: $azulHover;
        }
        input {
          font-size: 15px; 
          font-weight: 500; 
          padding: 5px; 
          border: 2px solid #ccc; 
          border-radius: 5px; 
          outline: none; 
          transition: border-color 0.3s ease, box-shadow 0.3s ease; 
          font-family: $montserrat;
          
          background-color: #ffffff;
          color: #333; 
        }
  
        
        input:focus {
          border-color: #007bff; 
          box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); 
          background-color: #fff; 
        }
  
        
        input:disabled {
          background-color: #e9ecef; 
          border-color: #dee2e6; 
          color: #6c757d; 
          cursor: not-allowed; 
        }
  
        
        input:hover {
          border-color: #b3b3b3; 
        }
  
        
        input::placeholder {
          color: #888; 
          opacity: 1; 
        }
  
        textarea {
          font-size: 15px; 
          font-weight: 500; 
          padding: 10px; 
          border: 2px solid #ccc; 
          border-radius: 5px; 
          outline: none; 
          transition: border-color 0.3s ease, box-shadow 0.3s ease; 
          resize: none; 
          height: 150px; 
          background-color: #ffffff; 
          color: #333; 
          font-family: $montserrat;
        }
  
        
        textarea:focus {
          border-color: #007bff; 
          box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); 
          background-color: #fff; 
        }
  
        
        textarea:disabled {
          background-color: #e9ecef; 
          border-color: #dee2e6; 
          color: #6c757d; 
          cursor: not-allowed; 
        }
  
        
        textarea:hover {
          border-color: #b3b3b3; 
        }
  
        
        textarea::placeholder {
          color: #888; 
          opacity: 1; 
        }
    }
    &-fotodesc {
      display: grid;
      grid-template-columns: 0.3fr 1fr;
      gap: 50px;
      .inpimg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        img {
          background-color: #fff;
          border-radius: 50%;
          object-fit: cover;
          width: 150px;
          height: 150px;
        }
        .skeletonimg {
          background-color: #ebebeb;
          border-radius: 50%;
          width: 150px;
          height: 150px;
          position: relative;
          overflow: hidden;
          
          background: linear-gradient(
            90deg,
            #d1d1d1 25%,
            #e0e0e0 50%,
            #d1d1d1 75%
          );
          background-size: 200% 100%;
          animation: wave 1.5s infinite ease-in-out;
        }

        
        @keyframes wave {
          0% {
            background-position: 200% 0;
          }
          100% {
            background-position: -200% 0;
          }
        }
        
        #file-input {
          display: none;
        }

        .uploadcont {
          width: 100%;
        }

        
        .custom-file-upload {
          position: relative;
          display: inline-block;
          width: 100%;
        }

        .custom-file-upload label {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background-color: $azul;
          color: white;
          border-radius: 5px;
          font-size: 14px;
          transition: background-color 0.3s;
          letter-spacing: -0.5px;          
        }

        .custom-file-upload label:hover {
          background-color: $azulHover;
        }

        
        #file-name {
          font-size: 14px;
          color: #555;
        }

        .btneliminar {
          cursor: pointer;
          background-color: #ff0000;
          color: white;
          border-radius: 5px;
          font-size: 14px;
          transition: background-color 0.3s;
          letter-spacing: -0.5px;
          font-size: 14px;
          color: #ffffff;
          font-family: $montserrat;
          font-weight: 600;
          width: 100%;
          border: none;
          box-sizing: border-box;
          padding: 4px 0;
          transition: background-color 0.3s;
          &:hover {
            background-color: #da0000;
          }
        }
      }

    }
    &-redessociales {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .titulo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        i {
          font-size: 25px;
          color: $azul;
        }
        h3 {
          font-size: 25px;
          font-family: $montserrat;
          font-weight: 700;
          letter-spacing: -0.5px;
          color: #464646;
        }
      }
      .redessociales {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        .fa-instagram {
          font-weight: 800;
        }
      }
    }
    &-configuracion {
      display: flex;
      flex-direction: column;
      .titulo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        i {
          font-size: 25px;
          color: $azul;
        }
        h3 {
          font-size: 25px;
          font-family: $montserrat;
          font-weight: 700;
          letter-spacing: -0.5px;
          color: #464646;
        }
      }
    }
    &-guardar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
