@import "../../../styles.scss";
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  &-icon {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    
    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
      transform: rotate(180deg);
    }
  }
}
.commentreply {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px 0 0 0;
  gap: 5px;
  box-sizing: border-box;
  &-username {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
      border-radius: 50%;
    }
    a {
      font-family: $montserrat;
      font-weight: 600;
      font-size: 17px;
      color: $azul;
      text-decoration: none;
      letter-spacing: -0.5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-text {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 5px;
    p {
      font-size: 16px;
      font-weight: 500;
      font-family: $montserrat;
      padding: 5px;
    }
    &-fecha {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 5px;
      i {
        font-size: 11px;
        color: $azul;
        padding: 2px;
      }
      span {
        font-family: $montserrat;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}

.commentActions {
  display: flex;
  justify-content: space-between;
  &-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    &-likes {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      span {
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 500;
        color: red;
      }
    }
    &-resp {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-eliminarComent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-eliminarComent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
