<section class="container">
    <div class="container-icon">
        <img src="/assets/icons/reply.svg" alt="reply-icon">
    </div>
    <div class="commentreply">
        <article class="commentreply-username">
            <img [src]="reply.user.img" alt="user-img">
            <a rel="noopener noreferrer" [routerLink]="['/perfil', reply.user.username]">{{reply.user.username}}</a>
            @if (creador) {
            <div class="commentreply-username-creador">
                <span>Creador</span>
                <img src="/assets/icons/star.svg" alt="star-icon">
            </div>
            }
        </article>
        <article class="commentreply-text">
            <p>{{reply.reply}}</p>
            <div class="commentActions">
                <article class="commentActions-buttons">
                    <div class="commentActions-buttons-likes">
                        <span>0</span>
                        <button class="commentLikeBtn">
                            <img [src]="likeImgBtn()" alt="like-button">
                        </button>
                    </div>
                    <div class="commentActions-buttons-resp">
                        <button class="replyBtn" (click)="responder($event)">Responder</button>
                    </div>
                    @if (sameuser()) {
                    <div class="commentActions-buttons-eliminarComent">
                        <button class="deleteCommentBtn" (click)="deleteReply($event)">Eliminar</button>
                    </div>
                    }
                </article>
                <article class="commentreply-text-fecha">
                    <i class="fa-solid fa-clock"></i>
                    <span>8/05/25</span>
                </article>
            </div>
        </article>
    </div>
</section>