@import "../../../styles.scss";
.allLogin {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  height: 100%;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    @media (max-width: 1024px) {
      display: none;
    }
    &-cont {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      padding: 0 100px;
      &-titulo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        img {
          width: 30px;
        }
        h2 {
          font-family: $montserrat;
          font-size: 25px;
          font-weight: 700;
          letter-spacing: -1px;
        }
      }
      &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
      &-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-titulo {
          h3 {
            font-family: $montserrat;
            font-size: 30px;
            font-weight: 500;
          }
        }
        &-p {
          display: flex;
          flex-direction: column;
          gap: 2px;
          p {
            font-family: $montserrat;
            font-size: 20px;
            color: #7a7a7a;
          }
        }
      }
    }
  }
  &-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    .login {
      display: flex;
      flex-direction: column;
      padding: 0 100px;
      gap: 30px;
      @media (max-width: 1024px) {
        padding: 0 15px;
      }
      &-titulo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3 {
          font-family: $montserrat;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: -1px;
        }
        p {
          font-family: $montserrat;
          font-size: 20px;
          color: #7a7a7a;
        }
      }
      &-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-inp {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .dobleInput {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            @media (max-width: 1024px) {
              grid-template-columns: 1fr;
              gap: 15px;
            }
          }

          .inputContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5px;
          }

          .input {
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 10px;
            border-radius: 10px;
            background-color: #ebebeb;
            padding: 5px;
            &-divicon {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px;
              background-color: #fff;
              border-radius: 5px;
              img {
                width: 20px;
              }
            }
            input {
              outline: none;
              border: none;
              font-size: 16px;
              font-family: $montserrat;
              background-color: transparent;
              font-weight: 500;
              padding: 0 5px;
            }
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px;
              background-color: transparent;
              border: none;
              cursor: pointer;
              img {
                width: 20px;
              }
            }
          }
        }
        .passbar {
          margin: 2px 0;
          height: 5px;
          width: 0%;
          border-radius: 5px;
          transition: width 1s ease-in-out;
        }

        .nonsecure {
          width: 30%;
          background-color: #ff0000;
        }
        .mediumsecure {
          width: 60%;
          background-color: #ff9900;
        }
        .secure {
          width: 100%;
          background-color: #3a9e00;
        }
        .passFeedback {
          position: absolute;
          background-color: #ff6b77;
          color: #fff;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #f5c6cb;
          top: 60px;
          left: 0;
          width: calc(100%);
          box-sizing: border-box;

          @media (max-width: 1024px) {
          }
          p {
            font-weight: 600;
            font-family: $montserrat;
            font-size: 15px;
          }
        }
      }
      &-hr {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        span {
          font-family: $montserrat;
        }
        hr {
          width: 100%;
          color: #f1f1f1;
        }
      }
      &-google {
        display: grid;
        grid-template-columns: 1fr;
        .googlebtn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 10px 0;
          border-radius: 5px;
          background-color: #f1f1f1;
          text-decoration: none;
          transition: ease-in-out 0.2s;
          color: #000;
          &:hover {
            background-color: #d8d8d8;
          }
          img {
            width: 25px;
          }
          span {
            font-family: $montserrat;
            font-size: 17px;
            font-weight: 500;
          }
        }
      }
      &-linkregistrarse {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p {
          font-family: $montserrat;
          font-size: 17px;
          font-weight: 500;
        }
        a {
          font-family: $montserrat;
          font-size: 17px;
          font-weight: 500;
          color: $azul;
          cursor: pointer;
          text-decoration: none;
          color: $azul;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .divVolver {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          font-size: 16px;
        }
        i {
          font-size: 15px;
        }
      }
    }
  }
}
