@import "../../../styles.scss";
.publicarPlan {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  box-sizing: border-box;
  gap: 50px;
  padding: 20px 50px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 10px 25px;
  }
  &-timeline {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &-formcont {
    display: flex;
    flex-direction: column;
    gap: 50px;
    &-titulo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      article {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        h2 {
          font-family: $montserrat;
          font-size: 35px;
          letter-spacing: -0.5px;
          font-weight: 800;
          @media (max-width: 1024px) {
            font-size: 25px;
          }
        }
        img {
          width: 40px;
          @media (max-width: 1024px) {
            width: 30px;
          }
        }
      }

      .volvercont {
        display: flex;
        justify-content: end;
        align-items: center;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
        }
      }
    }
    &-form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
      box-sizing: border-box;
      .infobasica {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .inputdiv {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
      }
      .cont {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        gap: 5px;
        @media (max-width: 1024px) {
          grid-template-columns: 1fr;
        }
      }
      .conturl {
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 10px;
        @media (max-width: 1024px) {
          grid-template-columns: 1fr;
          gap: 10px;
        }
        article {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 5px;
        }
      }

      .label {
        display: flex;
        justify-content: start;
        align-items: start;
      }
      label {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        font-family: $montserrat;
        font-weight: 600;
        letter-spacing: -0.5px;
        color: #1f1f1f;
        i {
          font-size: 16px;
        }
      }
      input[type="text"],
      input[type="url"] {
        font-size: 18px;
        font-weight: 500;
        padding: 7px 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        font-family: $montserrat;
        background-color: #ffffff;
        color: #333;
      }

      input:focus {
        border-color: #007bff;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
        background-color: #fff;
      }

      input:disabled {
        background-color: #e9ecef;
        border-color: #dee2e6;
        color: #6c757d;
        cursor: not-allowed;
      }

      input:hover {
        border-color: #b3b3b3;
      }

      input::placeholder {
        color: #888;
        opacity: 1;
      }

      textarea {
        font-size: 18px;
        font-weight: 500;
        padding: 7px 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        resize: none;
        height: 150px;
        background-color: #ffffff;
        color: #333;
        font-family: $montserrat;
      }

      textarea:focus {
        border-color: #007bff;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
        background-color: #fff;
      }

      textarea:disabled {
        background-color: #e9ecef;
        border-color: #dee2e6;
        color: #6c757d;
        cursor: not-allowed;
      }

      textarea:hover {
        border-color: #b3b3b3;
      }

      textarea::placeholder {
        color: #888;
        opacity: 1;
      }

      select {
        font-size: 18px;
        font-weight: 500;
        padding: 7px 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        background-color: #ffffff;
        color: #333;
        appearance: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        font-family: $montserrat;
      }

      select:focus {
        border-color: #007bff;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
        background-color: #fff;
      }

      select:disabled {
        background-color: #e9ecef;
        border-color: #dee2e6;
        color: #6c757d;
        cursor: not-allowed;
      }

      select:hover {
        border-color: #b3b3b3;
      }

      select option:disabled {
        color: #888;
        font-family: $montserrat;
      }

      i {
        color: $azul;
      }
      .contubi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        @media (max-width: 1024px) {
          grid-template-columns: 1fr;
        }
      }
      .inputsection {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 10px;
      }
      .listacategorias {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        &-categoria {
          border: solid 2px #888;
          padding: 2px 10px;
          border-radius: 5px;
          transition: border-color 0.3s ease, box-shadow 0.3s ease;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $montserrat;
            font-size: 17px;
            font-weight: 600;
            cursor: pointer;
          }
          &:hover {
            border-color: #007bff;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
            background-color: #fff;
          }
        }
        .selected {
          border: solid 2px $azulHover;
          background-color: $azul;
          color: #fff;
          &:hover {
            border-color: #c40000;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
            background-color: #ff4949;
            // color: #fff;
          }
        }
      }
      .contphoto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        @media (max-width: 1024px) {
          grid-template-columns: 1fr;
          gap: 10px;
        }
      }
      .inputphoto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        place-items: center;
        gap: 20px;
        box-sizing: border-box;

        .img {
          border-radius: 5px;
          border: solid 2px $azul;
          object-fit: cover;
        }
        .principal {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          position: relative;
          .deletediv {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 5%;
            right: 5%;
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              cursor: pointer;
              padding: 3px;
              border-radius: 10px;
              background-color: #fff;
              transition: ease-in-out 0.3s;
              box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

              
              &:hover {
                background-color: #cecece;
              }
            }
            img {
              width: 25px;
              height: 25px;
              object-fit: cover;
            }
          }
          .img {
            width: 420px;
            height: 260px;
            @media (max-width: 1024px) {
              width: 350px;
              height: 200px;
            }
            @media (max-width: 800px) {
              width: 300px;
              height: 180px;
            }
          }
        }
        .secundarias {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 5px 10px;
          box-sizing: border-box;
          .secImgCont {
            display: flex;
            position: relative;
          }
          .deletediv {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 5%;
            right: 3%;
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              cursor: pointer;
              padding: 3px;
              border-radius: 10px;
              background-color: #fff;
              transition: ease-in-out 0.3s;
              
              &:hover {
                background-color: #cecece;
              }

            }
            img {
              width: 25px;
              height: 25px;
              object-fit: cover;
            }
          }
          .img {
            width: 220px;
            height: 125px;
            @media (max-width: 1024px) {
              width: 160px;
              height: 100px;
            }
            @media (max-width: 800px) {
              width: 135px;
              height: 80px;
            }
          }
        }
      }
      .upload-container {
        position: relative;
        text-align: center;
        .upload-input {
          display: none;
        }

        .upload-button {
          display: inline-block;
          padding: 5px 15px;
          font-size: 16px;
          color: #ffffff;
          background-color: #007bff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s, box-shadow 0.3s;
        }

        .upload-button:hover {
          background-color: #005fc5;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .upload-button:active {
          background-color: #004494;
        }

        .upload-button:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
        }
      }

      .submitcont {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          font-size: 20px;
          background-color: #3ab800;
          width: 100%;
          &:hover {
            background-color: #35a700;
            box-shadow: $sombra;
          }
        }
      }
      .doubleErrorCont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
  }
}
.errorMessageContainer {
  i {
    color: #ff0000;
    font-size: 13px;
  }
}
