<section class="allFav">
    <section class="allFav-titulo">
        <i class="fa-solid fa-heart-circle-check"></i>
        <h3>Mis planes favoritos</h3>
        <!-- <img src="assets/images/boyswimming.svg" alt="boyswimming-img"> -->

    </section>
    <section class="allFav-listado">
        @if (loading()) {
        @for (let of [1, 2, 3, 4, 6, 5, 7, 8]; track $index) {
        <app-skeleton-plan />
        }
        } @else {
        @for (plan of plans; track $index) {
        <app-plan [plan]="plan" />
        } @empty {
        <div></div>
        <div class="noplansmessagecontainer">
            <p>No tienes planes favoritos.</p>
            <i class="fa-solid fa-circle-question"></i>
        </div>
        }
        }
    </section>
    <section class="allFav-pag">
        <app-pagination [itemsPerPage]="8" [totalItems]="totalPlans()" [currentPage]="currentPage()" (pageChange)="onPageChange($event)">
        </app-pagination>
    </section>
</section>