<form class="form" method="post" [formGroup]="editPassword" (ngSubmit)="onSubmit(editPassword.value)">
    <section class="form-input">
        <label for="actualPass">Contraseña actual</label>
        <input type="password" name="actualPass" formControlName="actualPass">
        @if (submitted() && editPassword.controls['actualPass'].invalid) {
        <div class="errorMessageContainer">
            <i class="fa-solid fa-circle-exclamation"></i>
            @if (editPassword.controls['actualPass'].errors?.['required']) {
            <small class="errorMessage">Este campo no puede estar vacío.</small>
            }
        </div>
        }
        @if (conflictActualPass()) {
            <div class="errorMessageContainer">
                <i class="fa-solid fa-circle-exclamation"></i>
                <small class="errorMessage">La contraseña es incorrecta</small>
            </div>
           }
    </section>
    <section class="form-input">
        <label for="newPass">Nueva Contraseña</label>
        <input type="password" name="newPass" formControlName="newPass">
        @if (submitted() && editPassword.controls['newPass'].invalid) {
        <div class="errorMessageContainer">
            <i class="fa-solid fa-circle-exclamation"></i>
            @if (editPassword.controls['newPass'].errors?.['required']) {
            <small class="errorMessage">Este campo no puede estar vacío.</small>
            }
            @if (editPassword.controls['newPass'].errors?.['pattern']) {
                <small class="errorMessage">La contraseña no es segura.</small>
                }
        </div>
        }
       
    </section>
    <section class="form-guardar">
        <input type="submit" name="guardar" value="Cambiar contraseña" class="savechanges">
    </section>
</form>
<app-toast-notification />